<header>
  <div id="author">
    <h3>Paul Kuttiya</h3>
    <ul>
			<li>
        <a href="https://www.linkedin.com/in/paul-kuttiya-1105692a/" target="_blank">
          <i class="profile fa fa-linkedin-square"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/pookzzz2231" target="_blank">
          <i class="profile fa fa fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
  <nav>
    <a href="#" data-nav="projects">projects</a>
    </a>
    <span>|</span>
    <a href="#" data-nav="profile">profile</a>
  </nav>
</header>