<header>
  <h3>Portfollio with NodeJS, ExpressJS, HandlebarsJS, Jquery and Stylus</h3>
  <nav>
    <a href="#" data-nav="projects">projects</a>
    </a>
    <span>|</span>
    <a href="#" data-nav="profile">profile</a>
  </nav>
</header>