colors = {
  white: #f5f5f5,
  navy: #001F3F,
  hover: #66b6c7,
  bg: #0085a1,
}

shadow_box()
  // box-shadow 1px 1px 40px 0 rgba(0,0,0,.45);
  box-shadow 1px 1px 40px 0 rgba(0,0,0,.45)

// bg()
//   background: #457fca; /* fallback for old browsers */
//   background: -webkit-linear-gradient(to left, #457fca , #5691c8); /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to left, #457fca , #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

text_bg()
  text_bg_color()
  color transparent
  -webkit-background-clip text
  background-clip text

text_bg_color()
  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

modal_bg()
  background rgba(255, 255, 255, 0.7)