section#profile
  display none
  width 80%
  margin 0 auto
  figure
    modal_bg()
    margin 15px 0 0 0
    color: colors.navy
    padding 20px
    text-align center
    border-radius 30px
    height auto
    #info
      display inline-block
      margin 0 auto 15px auto
      vertical-align top    
      > img
        display block
        width auto
        height 200px
        padding 0 0 20px 0
        margin auto
        border-radius 100%
      a
        font-weight 800
        color: colors.navy
        margin 0 15px 0 0
        &:hover
          color: colors.hover
    section
      text-align left
      display inline-block
      min-width 50%
      article
        padding 5px
        margin 0 0 0 15px
        h4
          display inline-block
          margin 0 15px 0 0