@import "whitespace-reset.css"
@import "mixins"
@import "project_modal"
@import "profile"

*
  box-sizing border-box

//for stick footer
html, body
  height 100%

body
  background: colors.bg
  font normal 1em 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif
  color: colors.white
  a
    text-decoration none
    color: colors.white
    text-transform uppercase
    &:hover, i:hover
      color: colors.hover
  h2
    font-size 2.75em
  h3
    font-size 1.5em
    font-weight 100
  header
    padding 10px
    width 80%
    margin 0.5em auto 1.5em auto
    text-transform uppercase
    color: colors.white
    text-align center
    h2, a, i, span
      text_bg()
    + span
      display block
      margin 0 auto
      width 55%
      height 3px
      text_bg_color()
    #author
      padding 15px 0
      margin 0 0 0.5em 0
      h2
        // text-indent 1em
        font-weight 800
        letter-spacing 0.3em
    nav
      a, span
        font-size 1em
        font-weight 800
        letter-spacing -1px
      a:last-of-type
        margin 0 0 0 5px
    span
      padding 0 0.5em

main
  display block
  margin 20px auto -300px auto //stick footer
  width 80%
  padding 0 20px
  min-height: 100% //stick footer
  &:after //stick footer
    content ""
    display block
    height 300px
  ul
    margin 10px 0 0 0
    text-align center
    li
      padding 5px
      margin 20px
      display inline-block
      text-align center
      width 40%
      vertical-align top
      .cover
        width 100%
        height 100%
        position relative
        shadow_box()
        transition all .2s ease-in-out
        &:hover
          -webkit-filter brightness(50%)
          transform scale(0.90)
          box-shadow none
          cursor pointer
        img
          display block
          width 100%
        span
          font-size 1em
          letter-spacing -1px
          display block
          position absolute
          background rgb(0, 0, 0) /* fallback color */
          font-weight 800
          padding 10px
          background rgba(0, 0, 0, 0.7)
          bottom 0
          border-top-right-radius 1em
footer
  background url('/images/bg-city.png') center center no-repeat
  background-size 100% 100%
  width 100%
  height 300px

span.icon
  margin 0 5px 0 0
  width 36px
  height 36px
  display inline-block
  img
    vertical-align middle
    width auto
    height 36px

@media (max-width: 770px)
  body
    font-size 1em
    header #author h2
      font-size 1.75em
      letter-spacing 2px
  main
    margin 0 auto
    padding 0
    ul
      li
        width 60%
  .modal
    .modal__inner
      height 80%
      .modal_content
        text-align center
        #modal_cover
          margin 0 0 10px 0
          float none
          width 80%
        section
          article
            h4
              display block
              padding 5px
              margin 0
            p
              width 80%
  span.icon
    width 18px
    height 18px
    img
      height 18px
  section#profile
    width 100%
    figure
      padding 10px 0
      max-height 400px
      section
        max-width 100%
        padding 10px
        article
          padding 0 0 10px 0
          margin 0
          h4
            display inline-block
            margin 0
      #info
        a:last-of-type
          margin 0
        padding 10px
        margin 0
        img
          height 125px
          padding 0 0 5px 0
          + h4
            display none

@media (max-width: 377px)
  body, a
    font-size 11px
    header h2
      font-size 16px
