@import "whitespace-reset.css"
@import "mixins"
@import "project_modal"
@import "profile"

*
  box-sizing border-box

body
  bg()
  position relative
  font normal 1em 'Roboto', sans-serif;
  color: colors.white
  a
    text-decoration none
    color: colors.white
    &:hover
      color: colors.hover
  h2
    font-size 1.5em
  h3
    font-size 1.25em
  header
    font-size 1.25em
    height 80px
    a
      font-weight bold
    #author
      float left
      width 50%
      margin 1em
      h3
        display inline
        margin 0 10px 0 0
      ul
        display inline
      li
        display inline
        margin 0 5px 0 0
    nav
      float right
      margin 1em 1em 0 0
    span
      padding 0 0.5em

main
  width 100%
  height 100%
  margin 50px auto
  width 80%
  padding 0 30px
  box-sizing border-box
  ul
    margin 10px 0 0 0
    text-align center
    li
      padding 10px
      margin 0 10px 20px 10px
      display inline-block
      text-align center
      width 30%
      vertical-align top
      .cover
        display block
        width 100%
        margin 0 0 10px 0
        shadow_box()
        transition all .2s ease-in-out
        &:hover
          -webkit-filter brightness(50%)
          transform scale(0.90)
          box-shadow none

span.icon
  margin 0 5px 0 0
  width 36px
  height 36px
  display inline-block
  img
    vertical-align middle
    width auto
    height 36px

@media screen and (max-width: 1025px) {
  main ul li {
    width: 100%;
  }
}