@import "whitespace-reset.css";
.modal-state {
  display: none;
}
.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}
.modal-state:checked + .modal .modal__inner {
  top: 0;
}
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: rgba(0,0,0,0.9);
  transition: opacity 0.35s ease;
}
.modal .modal__inner {
  color: #001f3f;
  transition: top 0.35s ease;
  position: absolute;
  text-align: left;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  margin: auto;
  overflow: auto;
  background: #f5f5f5;
  border-radius: 5px;
  padding: 2em 1em;
  height: 65%;
  z-index: 1;
}
.modal .modal__inner .modal_content {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
}
.modal .modal__inner .modal_content > img {
  float: left;
  width: 50%;
  height: 250px;
  margin: 0 30px 0 0;
  box-shadow: 0px 0px 10px 5px rgba(136,136,136,0.3);
}
.modal .modal__inner .modal_content section article {
  margin: 0 0 15px 0;
}
.modal .modal__inner .modal_content section article h4,
.modal .modal__inner .modal_content section article p {
  display: inline-block;
  padding: 2px 0;
}
.modal .modal__inner .modal_content section article h4 {
  margin: 0 10px 0 0;
}
.modal .modal__inner .modal_content section article p {
  width: 30%;
  vertical-align: top;
}
.modal .modal__inner .modal_content section article a {
  color: #001f3f;
}
.modal .modal__inner .modal_content section article a:hover {
  color: #66b6c7;
}
.modal .modal__inner .modal__close {
  font-size: 1.5em;
  color: #001f3f;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px;
  font-weight: bold;
  cursor: pointer;
}
section#profile {
  display: none;
  width: 80%;
  margin: 0 auto;
}
section#profile figure {
  background: rgba(255,255,255,0.7);
  margin: 15px 0 0 0;
  color: #001f3f;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
}
section#profile figure #info {
  display: inline-block;
  margin: 0 auto 15px auto;
  vertical-align: top;
}
section#profile figure #info > img {
  display: block;
  width: auto;
  height: 200px;
  padding: 0 0 20px 0;
  margin: auto;
  border-radius: 100%;
}
section#profile figure #info a {
  font-weight: 800;
  color: #001f3f;
  margin: 0 15px 0 0;
}
section#profile figure #info a:hover {
  color: #66b6c7;
}
section#profile figure section {
  text-align: left;
  display: inline-block;
  min-width: 50%;
}
section#profile figure section article {
  padding: 5px;
  margin: 0 0 0 15px;
}
section#profile figure section article h4 {
  display: inline-block;
  margin: 0 15px 0 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: #0085a1;
  font: normal 1em 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: #f5f5f5;
}
body a {
  text-decoration: none;
  color: #f5f5f5;
  text-transform: uppercase;
}
body a:hover,
body a i:hover {
  color: #66b6c7;
}
body h2 {
  font-size: 2.75em;
}
body h3 {
  font-size: 1.5em;
  font-weight: 100;
}
body header {
  padding: 10px;
  width: 80%;
  margin: 0.5em auto 1.5em auto;
  text-transform: uppercase;
  color: #f5f5f5;
  text-align: center;
}
body header h2,
body header a,
body header i,
body header span {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ece9e6, #fff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ece9e6, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
body header + span {
  display: block;
  margin: 0 auto;
  width: 55%;
  height: 3px;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ece9e6, #fff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ece9e6, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body header i {
  width: 20px;
}
body header #author {
  padding: 15px 0;
  margin: 0 0 0.5em 0;
}
body header #author h2 {
  font-weight: 800;
  letter-spacing: 0.3em;
}
body header nav a,
body header nav span {
  font-size: 1em;
  font-weight: 800;
  letter-spacing: -1px;
}
body header nav a:last-of-type {
  margin: 0 0 0 5px;
}
body header span {
  padding: 0 0.5em;
}
main {
  display: block;
  margin: 20px auto -300px auto;
  width: 80%;
  padding: 0 20px;
  min-height: 100%;
}
main:after {
  content: "";
  display: block;
  height: 300px;
}
main ul {
  margin: 10px 0 0 0;
  text-align: center;
}
main ul li {
  padding: 5px;
  margin: 20px;
  display: inline-block;
  text-align: center;
  width: 40%;
  vertical-align: top;
}
main ul li .cover {
  width: 100%;
  height: 200px;
  position: relative;
  box-shadow: 1px 1px 40px 0 rgba(0,0,0,0.45);
  transition: all 0.2s ease-in-out;
}
main ul li .cover:hover {
  -webkit-filter: brightness(50%);
  transform: scale(0.9);
  box-shadow: none;
  cursor: pointer;
}
main ul li .cover img {
  display: block;
  width: 100%;
  height: 100%;
}
main ul li .cover span {
  font-size: 1em;
  letter-spacing: -1px;
  display: block;
  position: absolute;
  background: #000 /* fallback color */;
  font-weight: 800;
  padding: 10px;
  background: rgba(0,0,0,0.7);
  bottom: 0;
  border-top-right-radius: 1em;
}
footer {
  background: url("/images/bg-city.png") center center no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 300px;
}
span.icon {
  margin: 0 5px 0 0;
  width: 36px;
  height: 36px;
  display: inline-block;
}
span.icon img {
  vertical-align: middle;
  width: auto;
  height: 36px;
}
@media (max-width: 770px) {
  body {
    font-size: 1em;
  }
  body header #author h2 {
    font-size: 1.75em;
    letter-spacing: 2px;
  }
  main {
    margin: 0 auto;
    padding: 0;
  }
  main ul li {
    width: 60%;
  }
  .modal .modal__inner {
    height: 80%;
  }
  .modal .modal__inner .modal_content {
    text-align: center;
  }
  .modal .modal__inner .modal_content #modal_cover {
    margin: 0 0 10px 0;
    float: none;
    width: 80%;
    height: 250px;
  }
  .modal .modal__inner .modal_content section article h4 {
    display: block;
    padding: 5px;
    margin: 0;
  }
  .modal .modal__inner .modal_content section article p {
    width: 80%;
  }
  span.icon {
    width: 18px;
    height: 18px;
  }
  span.icon img {
    height: 18px;
  }
  section#profile {
    width: 100%;
  }
  section#profile figure {
    padding: 10px 0;
    max-height: 400px;
  }
  section#profile figure section {
    max-width: 100%;
    padding: 10px;
  }
  section#profile figure section article {
    padding: 0 0 10px 0;
    margin: 0;
  }
  section#profile figure section article h4 {
    display: inline-block;
    margin: 0;
  }
  section#profile figure #info {
    padding: 10px;
    margin: 0;
  }
  section#profile figure #info a:last-of-type {
    margin: 0;
  }
  section#profile figure #info img {
    height: 125px;
    padding: 0 0 5px 0;
  }
  section#profile figure #info img + h4 {
    display: none;
  }
}
@media (max-width: 420px) {
  .cover,
  #modal_cover {
    height: 125px !important;
  }
}
@media (max-width: 377px) {
  body,
  a {
    font-size: 11px;
  }
  header h2 {
    font-size: 16px;
  }
}
